pkgbase = radare2-3.6
	pkgdesc = Open-source tools to disasm, debug, analyze and manipulate binary files
	pkgver = 3.6.0.r21995.ff3bb6e3b2
	pkgrel = 1
	url = http://radare.org
	arch = i686
	arch = x86_64
	license = GPL3
	license = LGPL3
	makedepends = git
	depends = capstone
	depends = openssl
	provides = radare2=3.6.0
	conflicts = radare2
	source = radare2-3.6::git://github.com/radare/radare2.git#tag=3.6.0
	md5sums = SKIP

pkgname = radare2-3.6

